In [306]:
# Importing necessary libraries

import numpy as np
import pandas as pd

In [307]:
# Opening the dataset

df = pd.read_csv("data/movies.csv", encoding= 'utf-8')
df.head()

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,...,Inception,"Cobb, a skilled thief who commits corporate es...",83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc..."
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,...,Interstellar,The adventures of a group of explorers who mak...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,..."
2,155,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,False,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,...,The Dark Knight,Batman raises the stakes in his war on crime. ...,130.643,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f..."
3,19995,Avatar,7.573,29815,Released,2009-12-15,2923706026,162,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,...,Avatar,"In the 22nd century, a paraplegic Marine is di...",79.932,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,Enter the world of Pandora.,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ..."
4,24428,The Avengers,7.710,29166,Released,2012-04-25,1518815515,143,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,...,The Avengers,When an unexpected enemy emerges and threatens...,98.082,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,Some assembly required.,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian","new york city, superhero, shield, based on com..."

In [308]:
# Analyzing dataframe columns

print(list(df.columns))

['id', 'title', 'vote_average', 'vote_count', 'status', 'release_date', 'revenue', 'runtime', 'adult', 'backdrop_path', 'budget', 'homepage', 'imdb_id', 'original_language', 'original_title', 'overview', 'popularity', 'poster_path', 'tagline', 'genres', 'production_companies', 'production_countries', 'spoken_languages', 'keywords']

In [309]:
# Dataset information

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1210768 entries, 0 to 1210767
Data columns (total 24 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1210768 non-null  int64
 1   title                 1210755 non-null  object
 2   vote_average          1210768 non-null  float64
 3   vote_count            1210768 non-null  int64
 4   status                1210768 non-null  object
 5   release_date          991763 non-null   object
 6   revenue               1210768 non-null  int64
 7   runtime               1210768 non-null  int64
 8   adult                 1210768 non-null  bool
 9   backdrop_path         315597 non-null   object
 10  budget                1210768 non-null  int64
 11  homepage              127204 non-null   object
 12  imdb_id               619870 non-null   object
 13  original_language     1210768 non-null  object
 14  original_title        1210755 non-null  object
 15  overview              955662 non-null   object
 16  popularity            1210768 non-null  float64
 17  poster_path           814636 non-null   object
 18  tagline               169783 non-null   object
 19  genres                711333 non-null   object
 20  production_companies  537900 non-null   object
 21  production_countries  658952 non-null   object
 22  spoken_languages      680413 non-null   object
 23  keywords              318954 non-null   object
dtypes: bool(1), float64(2), int64(5), object(16)
memory usage: 213.6+ MB

In [310]:
df['title']

0                    Inception
1                 Interstellar
2              The Dark Knight
3                       Avatar
4                 The Avengers
                  ...
1210763      El último penalty
1210764     Little Hares' Bath
1210765          NUNGSHIRUBANA
1210766    Along the Silk Road
1210767         As My Sun Sets
Name: title, Length: 1210768, dtype: object

In [311]:
# Converting 'title' column to string type

df['title'] = df['title'].astype('string')

In [312]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1210768 entries, 0 to 1210767
Data columns (total 24 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1210768 non-null  int64
 1   title                 1210755 non-null  string
 2   vote_average          1210768 non-null  float64
 3   vote_count            1210768 non-null  int64
 4   status                1210768 non-null  object
 5   release_date          991763 non-null   object
 6   revenue               1210768 non-null  int64
 7   runtime               1210768 non-null  int64
 8   adult                 1210768 non-null  bool
 9   backdrop_path         315597 non-null   object
 10  budget                1210768 non-null  int64
 11  homepage              127204 non-null   object
 12  imdb_id               619870 non-null   object
 13  original_language     1210768 non-null  object
 14  original_title        1210755 non-null  object
 15  overview              955662 non-null   object
 16  popularity            1210768 non-null  float64
 17  poster_path           814636 non-null   object
 18  tagline               169783 non-null   object
 19  genres                711333 non-null   object
 20  production_companies  537900 non-null   object
 21  production_countries  658952 non-null   object
 22  spoken_languages      680413 non-null   object
 23  keywords              318954 non-null   object
dtypes: bool(1), float64(2), int64(5), object(15), string(1)
memory usage: 213.6+ MB

In [313]:
df['status'].unique()

array(['Released', 'Planned', 'Rumored', 'Post Production',
       'In Production', 'Canceled'], dtype=object)

In [314]:
# Converting 'status' column to category type

df['status'] = df['status'].astype('category')
df['status'].value_counts()

status
Released           1178889
In Production        13389
Post Production       9832
Planned               7897
Rumored                446
Canceled               315
Name: count, dtype: int64

In [315]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1210768 entries, 0 to 1210767
Data columns (total 24 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1210768 non-null  int64
 1   title                 1210755 non-null  string
 2   vote_average          1210768 non-null  float64
 3   vote_count            1210768 non-null  int64
 4   status                1210768 non-null  category
 5   release_date          991763 non-null   object
 6   revenue               1210768 non-null  int64
 7   runtime               1210768 non-null  int64
 8   adult                 1210768 non-null  bool
 9   backdrop_path         315597 non-null   object
 10  budget                1210768 non-null  int64
 11  homepage              127204 non-null   object
 12  imdb_id               619870 non-null   object
 13  original_language     1210768 non-null  object
 14  original_title        1210755 non-null  object
 15  overview              955662 non-null   object
 16  popularity            1210768 non-null  float64
 17  poster_path           814636 non-null   object
 18  tagline               169783 non-null   object
 19  genres                711333 non-null   object
 20  production_companies  537900 non-null   object
 21  production_countries  658952 non-null   object
 22  spoken_languages      680413 non-null   object
 23  keywords              318954 non-null   object
dtypes: bool(1), category(1), float64(2), int64(5), object(14), string(1)
memory usage: 205.5+ MB

In [316]:
df['release_date']

0          2010-07-15
1          2014-11-05
2          2008-07-16
3          2009-12-15
4          2012-04-25
              ...
1210763    1984-10-22
1210764    1979-01-01
1210765           NaN
1210766    1982-01-01
1210767           NaN
Name: release_date, Length: 1210768, dtype: object

In [317]:
# Converting 'release-date' column to datetime type

df['release_date'] = pd.to_datetime(df['release_date'], errors='coerce')

In [318]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1210768 entries, 0 to 1210767
Data columns (total 24 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1210768 non-null  int64
 1   title                 1210755 non-null  string
 2   vote_average          1210768 non-null  float64
 3   vote_count            1210768 non-null  int64
 4   status                1210768 non-null  category
 5   release_date          991763 non-null   datetime64[ns]
 6   revenue               1210768 non-null  int64
 7   runtime               1210768 non-null  int64
 8   adult                 1210768 non-null  bool
 9   backdrop_path         315597 non-null   object
 10  budget                1210768 non-null  int64
 11  homepage              127204 non-null   object
 12  imdb_id               619870 non-null   object
 13  original_language     1210768 non-null  object
 14  original_title        1210755 non-null  object
 15  overview              955662 non-null   object
 16  popularity            1210768 non-null  float64
 17  poster_path           814636 non-null   object
 18  tagline               169783 non-null   object
 19  genres                711333 non-null   object
 20  production_companies  537900 non-null   object
 21  production_countries  658952 non-null   object
 22  spoken_languages      680413 non-null   object
 23  keywords              318954 non-null   object
dtypes: bool(1), category(1), datetime64[ns](1), float64(2), int64(5), object(13), string(1)
memory usage: 205.5+ MB

In [319]:
df['backdrop_path']

0          /8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg
1          /pbrkL804c8yAv3zBZR4QPEafpAR.jpg
2          /nMKdUUepR0i5zn0y1T4CsSB5chy.jpg
3          /vL5LR6WdxWPjLPFRLe133jXWsh5.jpg
4          /9BBTo63ANSmhC4e6r62OJFuK2GL.jpg
                         ...
1210763                                 NaN
1210764    /qj5fOdpMPm1jFAGHlLks01Kyjfx.jpg
1210765    /hsKIT8xRLMTnEs5axoOkNH6wqLo.jpg
1210766    /uXAKrqtjoNm5UHrqdN7AYvyvE9J.jpg
1210767    /ll3Za9EjxogjsB0wJm8sLlbj5XH.jpg
Name: backdrop_path, Length: 1210768, dtype: object

In [320]:
# Coverting 'backdrop_path' column to string type

df['backdrop_path'] = df['backdrop_path'].astype('string')

In [321]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1210768 entries, 0 to 1210767
Data columns (total 24 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1210768 non-null  int64
 1   title                 1210755 non-null  string
 2   vote_average          1210768 non-null  float64
 3   vote_count            1210768 non-null  int64
 4   status                1210768 non-null  category
 5   release_date          991763 non-null   datetime64[ns]
 6   revenue               1210768 non-null  int64
 7   runtime               1210768 non-null  int64
 8   adult                 1210768 non-null  bool
 9   backdrop_path         315597 non-null   string
 10  budget                1210768 non-null  int64
 11  homepage              127204 non-null   object
 12  imdb_id               619870 non-null   object
 13  original_language     1210768 non-null  object
 14  original_title        1210755 non-null  object
 15  overview              955662 non-null   object
 16  popularity            1210768 non-null  float64
 17  poster_path           814636 non-null   object
 18  tagline               169783 non-null   object
 19  genres                711333 non-null   object
 20  production_companies  537900 non-null   object
 21  production_countries  658952 non-null   object
 22  spoken_languages      680413 non-null   object
 23  keywords              318954 non-null   object
dtypes: bool(1), category(1), datetime64[ns](1), float64(2), int64(5), object(12), string(2)
memory usage: 205.5+ MB

In [322]:
df['homepage']

0                https://www.warnerbros.com/movies/inception
1                          http://www.interstellarmovie.net/
2             https://www.warnerbros.com/movies/dark-knight/
3                       https://www.avatar.com/movies/avatar
4                 https://www.marvel.com/movies/the-avengers
                                 ...
1210763                                                  NaN
1210764    https://locomotive.lv/portfolio-item/little-ra...
1210765                                                  NaN
1210766                                                  NaN
1210767                                                  NaN
Name: homepage, Length: 1210768, dtype: object

In [323]:
# Converting 'homepage' column to string type

df['homepage'] = df['homepage'].astype('string')

In [324]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1210768 entries, 0 to 1210767
Data columns (total 24 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1210768 non-null  int64
 1   title                 1210755 non-null  string
 2   vote_average          1210768 non-null  float64
 3   vote_count            1210768 non-null  int64
 4   status                1210768 non-null  category
 5   release_date          991763 non-null   datetime64[ns]
 6   revenue               1210768 non-null  int64
 7   runtime               1210768 non-null  int64
 8   adult                 1210768 non-null  bool
 9   backdrop_path         315597 non-null   string
 10  budget                1210768 non-null  int64
 11  homepage              127204 non-null   string
 12  imdb_id               619870 non-null   object
 13  original_language     1210768 non-null  object
 14  original_title        1210755 non-null  object
 15  overview              955662 non-null   object
 16  popularity            1210768 non-null  float64
 17  poster_path           814636 non-null   object
 18  tagline               169783 non-null   object
 19  genres                711333 non-null   object
 20  production_companies  537900 non-null   object
 21  production_countries  658952 non-null   object
 22  spoken_languages      680413 non-null   object
 23  keywords              318954 non-null   object
dtypes: bool(1), category(1), datetime64[ns](1), float64(2), int64(5), object(11), string(3)
memory usage: 205.5+ MB

In [325]:
df['original_language'].unique()

array(['en', 'ko', 'fr', 'ja', 'it', 'es', 'pl', 'pt', 'hi', 'tr', 'da',
       'de', 'cn', 'id', 'zh', 'sv', 'el', 'ru', 'sr', 'fa', 'th', 'ar',
       'no', 'nb', 'fi', 'te', 'la', 'nl', 'hu', 'he', 'is', 'ro', 'gl',
       'uk', 'eu', 'et', 'bs', 'bn', 'xx', 'sh', 'km', 'cs', 'tn', 'ml',
       'mk', 'ga', 'hy', 'ku', 'ka', 'ta', 'kn', 'tl', 'vi', 'ca', 'dz',
       'sw', 'kk', 'wo', 'sk', 'lv', 'mi', 'bo', 'ps', 'mn', 'lt', 'ur',
       'sl', 'sc', 'af', 'hr', 'iu', 'se', 'ms', 'bm', 'mr', 'bg', 'am',
       'cy', 'lo', 'xh', 'yi', 'qu', 'yo', 'sq', 'pa', 'eo', 'gu', 'zu',
       'st', 'ne', 'ak', 'mt', 'rw', 'as', 'ay', 'ln', 'mo', 'si', 'so',
       'ff', 'ky', 'kl', 'ik', 'az', 'ab', 'jv', 'sn', 'li', 'fo', 'ks',
       'tg', 'su', 'my', 'ht', 'lb', 'ha', 'rm', 'sm', 'sa', 'tk', 'fy',
       'be', 'bi', 'om', 'ny', 'gd', 'or', 'uz', 'cr', 'mg', 'ia', 'co',
       'gn', 'tw', 'nn', 'mh', 'os', 'nv', 'ig', 'ug', 'tt', 'nd', 'sg',
       'kw', 'ie', 'sd', 'dv', 'oc', 'ty', 'ba', 'to', 'ti', 'hz', 'ch',
       'lg', 'ce', 'aa', 'oj', 'br', 'kv', 'kj', 'za', 'cv', 'fj', 'ki',
       'gv', 'ss', 'nr', 'av', 'an', 'rn', 'kg', 'ii', 'ts'], dtype=object)

In [326]:
# Coverting 'original_language' column to category type

df['original_language'] = df['original_language'].astype('category')
df['original_language'].value_counts()

original_language
en    656156
fr     70803
es     61907
de     56648
ja     52900
       ...
hz         1
os         1
nr         1
rn         1
ts         1
Name: count, Length: 174, dtype: int64

In [327]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1210768 entries, 0 to 1210767
Data columns (total 24 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1210768 non-null  int64
 1   title                 1210755 non-null  string
 2   vote_average          1210768 non-null  float64
 3   vote_count            1210768 non-null  int64
 4   status                1210768 non-null  category
 5   release_date          991763 non-null   datetime64[ns]
 6   revenue               1210768 non-null  int64
 7   runtime               1210768 non-null  int64
 8   adult                 1210768 non-null  bool
 9   backdrop_path         315597 non-null   string
 10  budget                1210768 non-null  int64
 11  homepage              127204 non-null   string
 12  imdb_id               619870 non-null   object
 13  original_language     1210768 non-null  category
 14  original_title        1210755 non-null  object
 15  overview              955662 non-null   object
 16  popularity            1210768 non-null  float64
 17  poster_path           814636 non-null   object
 18  tagline               169783 non-null   object
 19  genres                711333 non-null   object
 20  production_companies  537900 non-null   object
 21  production_countries  658952 non-null   object
 22  spoken_languages      680413 non-null   object
 23  keywords              318954 non-null   object
dtypes: bool(1), category(2), datetime64[ns](1), float64(2), int64(5), object(10), string(3)
memory usage: 198.6+ MB

In [328]:
df['original_title']

0                            Inception
1                         Interstellar
2                      The Dark Knight
3                               Avatar
4                         The Avengers
                      ...
1210763              El último penalty
1210764                 Zaķīšu pirtiņa
1210765                  NUNGSHIRUBANA
1210766                           丝路花雨
1210767    Ang Pagsalop Sa Akong Adlaw
Name: original_title, Length: 1210768, dtype: object

In [329]:
# Coverting 'original_title' column to string type

df['original_title'] = df['original_title'].astype('string')

In [330]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1210768 entries, 0 to 1210767
Data columns (total 24 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1210768 non-null  int64
 1   title                 1210755 non-null  string
 2   vote_average          1210768 non-null  float64
 3   vote_count            1210768 non-null  int64
 4   status                1210768 non-null  category
 5   release_date          991763 non-null   datetime64[ns]
 6   revenue               1210768 non-null  int64
 7   runtime               1210768 non-null  int64
 8   adult                 1210768 non-null  bool
 9   backdrop_path         315597 non-null   string
 10  budget                1210768 non-null  int64
 11  homepage              127204 non-null   string
 12  imdb_id               619870 non-null   object
 13  original_language     1210768 non-null  category
 14  original_title        1210755 non-null  string
 15  overview              955662 non-null   object
 16  popularity            1210768 non-null  float64
 17  poster_path           814636 non-null   object
 18  tagline               169783 non-null   object
 19  genres                711333 non-null   object
 20  production_companies  537900 non-null   object
 21  production_countries  658952 non-null   object
 22  spoken_languages      680413 non-null   object
 23  keywords              318954 non-null   object
dtypes: bool(1), category(2), datetime64[ns](1), float64(2), int64(5), object(9), string(4)
memory usage: 198.6+ MB

In [331]:
df['overview']

0          Cobb, a skilled thief who commits corporate es...
1          The adventures of a group of explorers who mak...
2          Batman raises the stakes in his war on crime. ...
3          In the 22nd century, a paraplegic Marine is di...
4          When an unexpected enemy emerges and threatens...
                                 ...
1210763                                                  NaN
1210764    On Saturday night Mother Rabbit takes her chil...
1210765    R.C. Entertainment  Present  TelePlay  NUNGSHI...
1210766     A story derived from the famous Dunhuang Murals.
1210767    A lonesome teenager goes through a difficult s...
Name: overview, Length: 1210768, dtype: object

In [332]:
# Converting 'overview' column to string type

df['overview'] = df['overview'].astype('string')

In [333]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1210768 entries, 0 to 1210767
Data columns (total 24 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1210768 non-null  int64
 1   title                 1210755 non-null  string
 2   vote_average          1210768 non-null  float64
 3   vote_count            1210768 non-null  int64
 4   status                1210768 non-null  category
 5   release_date          991763 non-null   datetime64[ns]
 6   revenue               1210768 non-null  int64
 7   runtime               1210768 non-null  int64
 8   adult                 1210768 non-null  bool
 9   backdrop_path         315597 non-null   string
 10  budget                1210768 non-null  int64
 11  homepage              127204 non-null   string
 12  imdb_id               619870 non-null   object
 13  original_language     1210768 non-null  category
 14  original_title        1210755 non-null  string
 15  overview              955662 non-null   string
 16  popularity            1210768 non-null  float64
 17  poster_path           814636 non-null   object
 18  tagline               169783 non-null   object
 19  genres                711333 non-null   object
 20  production_companies  537900 non-null   object
 21  production_countries  658952 non-null   object
 22  spoken_languages      680413 non-null   object
 23  keywords              318954 non-null   object
dtypes: bool(1), category(2), datetime64[ns](1), float64(2), int64(5), object(8), string(5)
memory usage: 198.6+ MB

From [IMDB](https://help.imdb.com/article/imdb/track-movies-tv/ratings-faq/G67Y87TFYYP6TWAV?ref_=helpart_nav_2#):

The following formula is used to calculate the Top Rated 250 titles. This formula provides a true "Bayesian estimate", which takes into account the number of ratings each title has received, minimum ratings required to be on the list, and the mean rating for all titles:

weighted rating (WR) = (v ÷ (v+m)) x R + (m ÷ (v+m)) x C

Where:

R = average for the title (mean) = (rating)

v = number of ratings for the title = (ratings)

m = minimum ratings required to be listed in the Top Rated 250 chart (currently 25,000)

C= the mean rating across the whole report

Please be aware the Top 250 Movie chart list only includes feature films. Shorts, TV movies, mini-series, and documentaries are not included in the Top 250 Movies chart. The Top 250 TV Shows chart includes TV Series, but not TV episodes or movies.

In [334]:
df['popularity']

0           83.9520
1          140.2410
2          130.6430
3           79.9320
4           98.0820
             ...
1210763      0.6000
1210764      0.6000
1210765      0.6000
1210766      0.6000
1210767      0.0214
Name: popularity, Length: 1210768, dtype: float64

In [335]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1210768 entries, 0 to 1210767
Data columns (total 24 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1210768 non-null  int64
 1   title                 1210755 non-null  string
 2   vote_average          1210768 non-null  float64
 3   vote_count            1210768 non-null  int64
 4   status                1210768 non-null  category
 5   release_date          991763 non-null   datetime64[ns]
 6   revenue               1210768 non-null  int64
 7   runtime               1210768 non-null  int64
 8   adult                 1210768 non-null  bool
 9   backdrop_path         315597 non-null   string
 10  budget                1210768 non-null  int64
 11  homepage              127204 non-null   string
 12  imdb_id               619870 non-null   object
 13  original_language     1210768 non-null  category
 14  original_title        1210755 non-null  string
 15  overview              955662 non-null   string
 16  popularity            1210768 non-null  float64
 17  poster_path           814636 non-null   object
 18  tagline               169783 non-null   object
 19  genres                711333 non-null   object
 20  production_companies  537900 non-null   object
 21  production_countries  658952 non-null   object
 22  spoken_languages      680413 non-null   object
 23  keywords              318954 non-null   object
dtypes: bool(1), category(2), datetime64[ns](1), float64(2), int64(5), object(8), string(5)
memory usage: 198.6+ MB

In [336]:
df['poster_path']

0          /oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg
1          /gEU2QniE6E77NI6lCU6MxlNBvIx.jpg
2          /qJ2tW6WMUDux911r6m7haRef0WH.jpg
3          /kyeqWdyUXW608qlYkRqosgbbJyK.jpg
4           /RYMX2wcKCBAr24UyPD7xwmjaTn.jpg
                         ...
1210763    /2Nx9n2V1vYmopaa5G1btuCsqKwI.jpg
1210764    /5hEyhvapz3tCN0tZRFUU2YPMzVP.jpg
1210765    /bE8EQvah0Z8V4NpGHO7w8zYUIWX.jpg
1210766    /jxh1MgO28gkgNnNtCsbS8hxazP3.jpg
1210767    /qIHUmQBBbA6zBuBrCk1Ma8FyAxe.jpg
Name: poster_path, Length: 1210768, dtype: object

In [337]:
# Coverting 'poster_path' column to string type

df['poster_path'] = df['poster_path'].astype('string')

In [338]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1210768 entries, 0 to 1210767
Data columns (total 24 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1210768 non-null  int64
 1   title                 1210755 non-null  string
 2   vote_average          1210768 non-null  float64
 3   vote_count            1210768 non-null  int64
 4   status                1210768 non-null  category
 5   release_date          991763 non-null   datetime64[ns]
 6   revenue               1210768 non-null  int64
 7   runtime               1210768 non-null  int64
 8   adult                 1210768 non-null  bool
 9   backdrop_path         315597 non-null   string
 10  budget                1210768 non-null  int64
 11  homepage              127204 non-null   string
 12  imdb_id               619870 non-null   object
 13  original_language     1210768 non-null  category
 14  original_title        1210755 non-null  string
 15  overview              955662 non-null   string
 16  popularity            1210768 non-null  float64
 17  poster_path           814636 non-null   string
 18  tagline               169783 non-null   object
 19  genres                711333 non-null   object
 20  production_companies  537900 non-null   object
 21  production_countries  658952 non-null   object
 22  spoken_languages      680413 non-null   object
 23  keywords              318954 non-null   object
dtypes: bool(1), category(2), datetime64[ns](1), float64(2), int64(5), object(7), string(6)
memory usage: 198.6+ MB

In [339]:
df['tagline']

0                       Your mind is the scene of the crime.
1          Mankind was born on Earth. It was never meant ...
2                          Welcome to a world without rules.
3                                Enter the world of Pandora.
4                                    Some assembly required.
                                 ...
1210763                                                  NaN
1210764                                                  NaN
1210765                                                  NaN
1210766                                                  NaN
1210767                                  Friendship or Love?
Name: tagline, Length: 1210768, dtype: object

In [340]:
# Coverting 'tagline' column to string type

df['tagline'] = df['tagline'].astype('string')

In [341]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1210768 entries, 0 to 1210767
Data columns (total 24 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1210768 non-null  int64
 1   title                 1210755 non-null  string
 2   vote_average          1210768 non-null  float64
 3   vote_count            1210768 non-null  int64
 4   status                1210768 non-null  category
 5   release_date          991763 non-null   datetime64[ns]
 6   revenue               1210768 non-null  int64
 7   runtime               1210768 non-null  int64
 8   adult                 1210768 non-null  bool
 9   backdrop_path         315597 non-null   string
 10  budget                1210768 non-null  int64
 11  homepage              127204 non-null   string
 12  imdb_id               619870 non-null   object
 13  original_language     1210768 non-null  category
 14  original_title        1210755 non-null  string
 15  overview              955662 non-null   string
 16  popularity            1210768 non-null  float64
 17  poster_path           814636 non-null   string
 18  tagline               169783 non-null   string
 19  genres                711333 non-null   object
 20  production_companies  537900 non-null   object
 21  production_countries  658952 non-null   object
 22  spoken_languages      680413 non-null   object
 23  keywords              318954 non-null   object
dtypes: bool(1), category(2), datetime64[ns](1), float64(2), int64(5), object(6), string(7)
memory usage: 198.6+ MB

In [342]:
df['genres']

0                   Action, Science Fiction, Adventure
1                    Adventure, Drama, Science Fiction
2                       Drama, Action, Crime, Thriller
3          Action, Adventure, Fantasy, Science Fiction
4                   Science Fiction, Action, Adventure
                              ...
1210763                                         Comedy
1210764                              Animation, Family
1210765                                            NaN
1210766                                          Music
1210767                                          Drama
Name: genres, Length: 1210768, dtype: object

In [343]:
# Converting 'genres' column to category type

df['genres'] = df['genres'].astype('category')
df['genres'].value_counts()

genres
Documentary                         142091
Drama                               111282
Comedy                               61051
Animation                            33064
Music                                26486
                                     ...
Western, Science Fiction, Family         1
Western, Thriller, Drama                 1
Western, Thriller, Crime, Drama          1
Western, Romance, History                1
Western, Romance, Crime, Comedy          1
Name: count, Length: 13782, dtype: int64

In [344]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1210768 entries, 0 to 1210767
Data columns (total 24 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1210768 non-null  int64
 1   title                 1210755 non-null  string
 2   vote_average          1210768 non-null  float64
 3   vote_count            1210768 non-null  int64
 4   status                1210768 non-null  category
 5   release_date          991763 non-null   datetime64[ns]
 6   revenue               1210768 non-null  int64
 7   runtime               1210768 non-null  int64
 8   adult                 1210768 non-null  bool
 9   backdrop_path         315597 non-null   string
 10  budget                1210768 non-null  int64
 11  homepage              127204 non-null   string
 12  imdb_id               619870 non-null   object
 13  original_language     1210768 non-null  category
 14  original_title        1210755 non-null  string
 15  overview              955662 non-null   string
 16  popularity            1210768 non-null  float64
 17  poster_path           814636 non-null   string
 18  tagline               169783 non-null   string
 19  genres                711333 non-null   category
 20  production_companies  537900 non-null   object
 21  production_countries  658952 non-null   object
 22  spoken_languages      680413 non-null   object
 23  keywords              318954 non-null   object
dtypes: bool(1), category(3), datetime64[ns](1), float64(2), int64(5), object(5), string(7)
memory usage: 192.3+ MB

In [345]:
df['production_companies']

0          Legendary Pictures, Syncopy, Warner Bros. Pict...
1          Legendary Pictures, Syncopy, Lynda Obst Produc...
2          DC Comics, Legendary Pictures, Syncopy, Isobel...
3          Dune Entertainment, Lightstorm Entertainment, ...
4                                             Marvel Studios
                                 ...
1210763                                 Martín Garrido Ramis
1210764                                       Telefilma-Rīga
1210765                                                  NaN
1210766                                                  NaN
1210767                              PM Pictures Productions
Name: production_companies, Length: 1210768, dtype: object

In [346]:
# Converting 'production_companies' column to category type

df['production_companies'] = df['production_companies'].astype('category')

In [347]:
df['production_companies'].value_counts()

production_companies
Evil Angel                                                          2989
ONF | NFB                                                           2308
BBC                                                                 2186
Metro-Goldwyn-Mayer                                                 2048
Columbia Pictures                                                   1938
                                                                    ...
#Beardforce Films                                                      1
"En Teoría" Producciones                                               1
"Creo" of M. Bystritsky                                                1
"A ME AND YOU MOTION PICTURE", Black Cat Media, Current Resident       1
진이엔터테인먼트                                                               1
Name: count, Length: 214119, dtype: int64

In [348]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1210768 entries, 0 to 1210767
Data columns (total 24 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1210768 non-null  int64
 1   title                 1210755 non-null  string
 2   vote_average          1210768 non-null  float64
 3   vote_count            1210768 non-null  int64
 4   status                1210768 non-null  category
 5   release_date          991763 non-null   datetime64[ns]
 6   revenue               1210768 non-null  int64
 7   runtime               1210768 non-null  int64
 8   adult                 1210768 non-null  bool
 9   backdrop_path         315597 non-null   string
 10  budget                1210768 non-null  int64
 11  homepage              127204 non-null   string
 12  imdb_id               619870 non-null   object
 13  original_language     1210768 non-null  category
 14  original_title        1210755 non-null  string
 15  overview              955662 non-null   string
 16  popularity            1210768 non-null  float64
 17  poster_path           814636 non-null   string
 18  tagline               169783 non-null   string
 19  genres                711333 non-null   category
 20  production_companies  537900 non-null   category
 21  production_countries  658952 non-null   object
 22  spoken_languages      680413 non-null   object
 23  keywords              318954 non-null   object
dtypes: bool(1), category(4), datetime64[ns](1), float64(2), int64(5), object(4), string(7)
memory usage: 197.4+ MB

In [349]:
df['production_countries']

0          United Kingdom, United States of America
1          United Kingdom, United States of America
2          United Kingdom, United States of America
3          United States of America, United Kingdom
4                          United States of America
                             ...
1210763                                       Spain
1210764                                Soviet Union
1210765                                         NaN
1210766                                       China
1210767                                 Philippines
Name: production_countries, Length: 1210768, dtype: object

In [350]:
# Converting 'production_countries' column to string type

df['production_countries'] = df['production_countries'].astype('string')
df['production_countries'].value_counts()

production_countries
United States of America    184752
Japan                        42658
United Kingdom               35254
Germany                      33998
France                       33983
                             ...
Argentina, Tunisia               1
Guatemala, Austria               1
Austria, Tanzania                1
Fiji, Austria                    1
Belgium, Canada, Congo           1
Name: count, Length: 10318, dtype: Int64

In [351]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1210768 entries, 0 to 1210767
Data columns (total 24 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1210768 non-null  int64
 1   title                 1210755 non-null  string
 2   vote_average          1210768 non-null  float64
 3   vote_count            1210768 non-null  int64
 4   status                1210768 non-null  category
 5   release_date          991763 non-null   datetime64[ns]
 6   revenue               1210768 non-null  int64
 7   runtime               1210768 non-null  int64
 8   adult                 1210768 non-null  bool
 9   backdrop_path         315597 non-null   string
 10  budget                1210768 non-null  int64
 11  homepage              127204 non-null   string
 12  imdb_id               619870 non-null   object
 13  original_language     1210768 non-null  category
 14  original_title        1210755 non-null  string
 15  overview              955662 non-null   string
 16  popularity            1210768 non-null  float64
 17  poster_path           814636 non-null   string
 18  tagline               169783 non-null   string
 19  genres                711333 non-null   category
 20  production_companies  537900 non-null   category
 21  production_countries  658952 non-null   string
 22  spoken_languages      680413 non-null   object
 23  keywords              318954 non-null   object
dtypes: bool(1), category(4), datetime64[ns](1), float64(2), int64(5), object(3), string(8)
memory usage: 197.4+ MB

In [352]:
df['spoken_languages']

0          English, French, Japanese, Swahili
1                                     English
2                           English, Mandarin
3                            English, Spanish
4                     English, Hindi, Russian
                          ...
1210763                               Spanish
1210764                               Latvian
1210765                                   NaN
1210766                           No Language
1210767                                   NaN
Name: spoken_languages, Length: 1210768, dtype: object

In [353]:
# Converting 'spoken_languages' column to category type

df['spoken_languages'] = df['spoken_languages'].astype('category')
df['spoken_languages'].value_counts()

spoken_languages
English                        243449
Japanese                        41920
Spanish                         38990
French                          38049
No Language                     30181
                                ...
Afrikaans, English, Tibetan         1
Afrikaans, English, Thai            1
Welsh, English, Spanish             1
Walloon, Italian                    1
Walloon                             1
Name: count, Length: 7183, dtype: int64

In [354]:
# Processing missing values

df.isna().sum()

id                            0
title                        13
vote_average                  0
vote_count                    0
status                        0
release_date             219005
revenue                       0
runtime                       0
adult                         0
backdrop_path            895171
budget                        0
homepage                1083564
imdb_id                  590898
original_language             0
original_title               13
overview                 255106
popularity                    0
poster_path              396132
tagline                 1040985
genres                   499435
production_companies     672868
production_countries     551816
spoken_languages         530355
keywords                 891814
dtype: int64

In [355]:
# Removing entries without title

df.dropna(subset=['title'], inplace=True)
df.isna().sum()

id                            0
title                         0
vote_average                  0
vote_count                    0
status                        0
release_date             218996
revenue                       0
runtime                       0
adult                         0
backdrop_path            895161
budget                        0
homepage                1083551
imdb_id                  590885
original_language             0
original_title                0
overview                 255097
popularity                    0
poster_path              396126
tagline                 1040972
genres                   499427
production_companies     672855
production_countries     551806
spoken_languages         530346
keywords                 891802
dtype: int64

In [356]:
columns_with_na = ['release_date', 'backdrop_path', 'homepage', 'imdb_id', 'overview', 'poster_path', 'tagline', 'genres',
                   'production_companies', 'production_countries', 'spoken_languages', 'keywords']

# Add 'Unknown' as category
for col in columns_with_na:
  if df[col].dtype.name == 'category':
    if 'Unknown' not in df[col].cat.categories:
      df[col] = df[col].cat.add_categories('Unknown')

# Filling NA values
df[columns_with_na] = df[columns_with_na].fillna('Unknown')

df.isna().sum()

id                      0
title                   0
vote_average            0
vote_count              0
status                  0
release_date            0
revenue                 0
runtime                 0
adult                   0
backdrop_path           0
budget                  0
homepage                0
imdb_id                 0
original_language       0
original_title          0
overview                0
popularity              0
poster_path             0
tagline                 0
genres                  0
production_companies    0
production_countries    0
spoken_languages        0
keywords                0
dtype: int64

In [357]:
# Saving processed csv file

df.to_csv("data/movies.csv", index=False)