In [1]:
# Importing necessary libraries

import numpy as np
import pandas as pd

In [2]:
# Opening the dataset

df = pd.read_csv("data/movies.csv", encoding= 'utf-8')
df.head()

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords
0,27205,Inception,8.364,34495,Released,2010-07-15 00:00:00,825532764,148,False,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,...,Inception,"Cobb, a skilled thief who commits corporate es...",83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc..."
1,157336,Interstellar,8.417,32571,Released,2014-11-05 00:00:00,701729206,169,False,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,...,Interstellar,The adventures of a group of explorers who mak...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,..."
2,155,The Dark Knight,8.512,30619,Released,2008-07-16 00:00:00,1004558444,152,False,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,...,The Dark Knight,Batman raises the stakes in his war on crime. ...,130.643,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f..."
3,19995,Avatar,7.573,29815,Released,2009-12-15 00:00:00,2923706026,162,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,...,Avatar,"In the 22nd century, a paraplegic Marine is di...",79.932,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,Enter the world of Pandora.,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ..."
4,24428,The Avengers,7.710,29166,Released,2012-04-25 00:00:00,1518815515,143,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,...,The Avengers,When an unexpected enemy emerges and threatens...,98.082,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,Some assembly required.,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian","new york city, superhero, shield, based on com..."

In [3]:
# Analyzing dataframe columns

print(list(df.columns))

['id', 'title', 'vote_average', 'vote_count', 'status', 'release_date', 'revenue', 'runtime', 'adult', 'backdrop_path', 'budget', 'homepage', 'imdb_id', 'original_language', 'original_title', 'overview', 'popularity', 'poster_path', 'tagline', 'genres', 'production_companies', 'production_countries', 'spoken_languages', 'keywords']

In [4]:
# Dataset information

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180747 entries, 0 to 180746
Data columns (total 24 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    180747 non-null  int64
 1   title                 180747 non-null  object
 2   vote_average          180747 non-null  float64
 3   vote_count            180747 non-null  int64
 4   status                180747 non-null  object
 5   release_date          180747 non-null  object
 6   revenue               180747 non-null  int64
 7   runtime               180747 non-null  int64
 8   adult                 180747 non-null  bool
 9   backdrop_path         180747 non-null  object
 10  budget                180747 non-null  int64
 11  homepage              180747 non-null  object
 12  imdb_id               180747 non-null  object
 13  original_language     180747 non-null  object
 14  original_title        180747 non-null  object
 15  overview              180747 non-null  object
 16  popularity            180747 non-null  float64
 17  poster_path           180747 non-null  object
 18  tagline               180747 non-null  object
 19  genres                180747 non-null  object
 20  production_companies  180747 non-null  object
 21  production_countries  180747 non-null  object
 22  spoken_languages      180747 non-null  object
 23  keywords              180747 non-null  object
dtypes: bool(1), float64(2), int64(5), object(16)
memory usage: 31.9+ MB

In [5]:
print(df.shape)

(180747, 24)

In [6]:
# Removing duplicated data if any exists

df = df.drop_duplicates(subset=['id', 'title'], keep='first')
df.shape

(180747, 24)

In [7]:
df['title']

0                                             Inception
1                                          Interstellar
2                                       The Dark Knight
3                                                Avatar
4                                          The Avengers
                              ...
180742                Kathy Griffin: Whores on Crutches
180743    Six Degrees of Separation from Lilia Cuntapay
180744                                    K1 Dynamite!!
180745                             Death Penalty Priest
180746            Why Does the Rooster Have Short Pants
Name: title, Length: 180747, dtype: object

In [8]:
# Converting 'title' column to string type

df['title'] = df['title'].astype('string')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180747 entries, 0 to 180746
Data columns (total 24 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    180747 non-null  int64
 1   title                 180747 non-null  string
 2   vote_average          180747 non-null  float64
 3   vote_count            180747 non-null  int64
 4   status                180747 non-null  object
 5   release_date          180747 non-null  object
 6   revenue               180747 non-null  int64
 7   runtime               180747 non-null  int64
 8   adult                 180747 non-null  bool
 9   backdrop_path         180747 non-null  object
 10  budget                180747 non-null  int64
 11  homepage              180747 non-null  object
 12  imdb_id               180747 non-null  object
 13  original_language     180747 non-null  object
 14  original_title        180747 non-null  object
 15  overview              180747 non-null  object
 16  popularity            180747 non-null  float64
 17  poster_path           180747 non-null  object
 18  tagline               180747 non-null  object
 19  genres                180747 non-null  object
 20  production_companies  180747 non-null  object
 21  production_countries  180747 non-null  object
 22  spoken_languages      180747 non-null  object
 23  keywords              180747 non-null  object
dtypes: bool(1), float64(2), int64(5), object(15), string(1)
memory usage: 31.9+ MB

In [10]:
df['status'].unique()

array(['Released', 'Planned', 'Rumored'], dtype=object)

In [11]:
# Converting 'status' column to category type

df['status'] = df['status'].astype('category')
df['status'].value_counts()

status
Released    180740
Planned          6
Rumored          1
Name: count, dtype: int64

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180747 entries, 0 to 180746
Data columns (total 24 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    180747 non-null  int64
 1   title                 180747 non-null  string
 2   vote_average          180747 non-null  float64
 3   vote_count            180747 non-null  int64
 4   status                180747 non-null  category
 5   release_date          180747 non-null  object
 6   revenue               180747 non-null  int64
 7   runtime               180747 non-null  int64
 8   adult                 180747 non-null  bool
 9   backdrop_path         180747 non-null  object
 10  budget                180747 non-null  int64
 11  homepage              180747 non-null  object
 12  imdb_id               180747 non-null  object
 13  original_language     180747 non-null  object
 14  original_title        180747 non-null  object
 15  overview              180747 non-null  object
 16  popularity            180747 non-null  float64
 17  poster_path           180747 non-null  object
 18  tagline               180747 non-null  object
 19  genres                180747 non-null  object
 20  production_companies  180747 non-null  object
 21  production_countries  180747 non-null  object
 22  spoken_languages      180747 non-null  object
 23  keywords              180747 non-null  object
dtypes: bool(1), category(1), float64(2), int64(5), object(14), string(1)
memory usage: 30.7+ MB

In [13]:
df['release_date']

0         2010-07-15 00:00:00
1         2014-11-05 00:00:00
2         2008-07-16 00:00:00
3         2009-12-15 00:00:00
4         2012-04-25 00:00:00
                 ...
180742    2010-11-02 00:00:00
180743    2012-10-31 00:00:00
180744    2009-12-31 00:00:00
180745    1982-08-03 00:00:00
180746    1966-02-05 00:00:00
Name: release_date, Length: 180747, dtype: object

In [14]:
# Converting 'release-date' column to datetime type

df['release_date'] = pd.to_datetime(df['release_date'], errors='coerce')

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180747 entries, 0 to 180746
Data columns (total 24 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    180747 non-null  int64
 1   title                 180747 non-null  string
 2   vote_average          180747 non-null  float64
 3   vote_count            180747 non-null  int64
 4   status                180747 non-null  category
 5   release_date          180267 non-null  datetime64[ns]
 6   revenue               180747 non-null  int64
 7   runtime               180747 non-null  int64
 8   adult                 180747 non-null  bool
 9   backdrop_path         180747 non-null  object
 10  budget                180747 non-null  int64
 11  homepage              180747 non-null  object
 12  imdb_id               180747 non-null  object
 13  original_language     180747 non-null  object
 14  original_title        180747 non-null  object
 15  overview              180747 non-null  object
 16  popularity            180747 non-null  float64
 17  poster_path           180747 non-null  object
 18  tagline               180747 non-null  object
 19  genres                180747 non-null  object
 20  production_companies  180747 non-null  object
 21  production_countries  180747 non-null  object
 22  spoken_languages      180747 non-null  object
 23  keywords              180747 non-null  object
dtypes: bool(1), category(1), datetime64[ns](1), float64(2), int64(5), object(13), string(1)
memory usage: 30.7+ MB

In [16]:
df['backdrop_path']

0         /8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg
1         /pbrkL804c8yAv3zBZR4QPEafpAR.jpg
2         /nMKdUUepR0i5zn0y1T4CsSB5chy.jpg
3         /vL5LR6WdxWPjLPFRLe133jXWsh5.jpg
4         /9BBTo63ANSmhC4e6r62OJFuK2GL.jpg
                        ...
180742                             Unknown
180743    /aMqODpNunZFkAdlBQQaPTCRTFVl.jpg
180744                             Unknown
180745                             Unknown
180746    /22yyxNKv1O5ei2o75eTiu8Qens0.jpg
Name: backdrop_path, Length: 180747, dtype: object

In [17]:
# Coverting 'backdrop_path' column to string type

df['backdrop_path'] = df['backdrop_path'].astype('string')

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180747 entries, 0 to 180746
Data columns (total 24 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    180747 non-null  int64
 1   title                 180747 non-null  string
 2   vote_average          180747 non-null  float64
 3   vote_count            180747 non-null  int64
 4   status                180747 non-null  category
 5   release_date          180267 non-null  datetime64[ns]
 6   revenue               180747 non-null  int64
 7   runtime               180747 non-null  int64
 8   adult                 180747 non-null  bool
 9   backdrop_path         180747 non-null  string
 10  budget                180747 non-null  int64
 11  homepage              180747 non-null  object
 12  imdb_id               180747 non-null  object
 13  original_language     180747 non-null  object
 14  original_title        180747 non-null  object
 15  overview              180747 non-null  object
 16  popularity            180747 non-null  float64
 17  poster_path           180747 non-null  object
 18  tagline               180747 non-null  object
 19  genres                180747 non-null  object
 20  production_companies  180747 non-null  object
 21  production_countries  180747 non-null  object
 22  spoken_languages      180747 non-null  object
 23  keywords              180747 non-null  object
dtypes: bool(1), category(1), datetime64[ns](1), float64(2), int64(5), object(12), string(2)
memory usage: 30.7+ MB

In [19]:
df['homepage']

0               https://www.warnerbros.com/movies/inception
1                         http://www.interstellarmovie.net/
2            https://www.warnerbros.com/movies/dark-knight/
3                      https://www.avatar.com/movies/avatar
4                https://www.marvel.com/movies/the-avengers
                                ...
180742                                              Unknown
180743    https://www.facebook.com/sixdegreesofseparatio...
180744                                              Unknown
180745                                              Unknown
180746    https://usfa.gov.ua/movie-catalog/chomu-u-pivn...
Name: homepage, Length: 180747, dtype: object

In [20]:
# Converting 'homepage' column to string type

df['homepage'] = df['homepage'].astype('string')

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180747 entries, 0 to 180746
Data columns (total 24 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    180747 non-null  int64
 1   title                 180747 non-null  string
 2   vote_average          180747 non-null  float64
 3   vote_count            180747 non-null  int64
 4   status                180747 non-null  category
 5   release_date          180267 non-null  datetime64[ns]
 6   revenue               180747 non-null  int64
 7   runtime               180747 non-null  int64
 8   adult                 180747 non-null  bool
 9   backdrop_path         180747 non-null  string
 10  budget                180747 non-null  int64
 11  homepage              180747 non-null  string
 12  imdb_id               180747 non-null  object
 13  original_language     180747 non-null  object
 14  original_title        180747 non-null  object
 15  overview              180747 non-null  object
 16  popularity            180747 non-null  float64
 17  poster_path           180747 non-null  object
 18  tagline               180747 non-null  object
 19  genres                180747 non-null  object
 20  production_companies  180747 non-null  object
 21  production_countries  180747 non-null  object
 22  spoken_languages      180747 non-null  object
 23  keywords              180747 non-null  object
dtypes: bool(1), category(1), datetime64[ns](1), float64(2), int64(5), object(11), string(3)
memory usage: 30.7+ MB

In [22]:
df['original_language'].unique()

array(['en', 'ko', 'fr', 'ja', 'it', 'es', 'pl', 'pt', 'hi', 'tr', 'da',
       'de', 'cn', 'id', 'zh', 'sv', 'el', 'ru', 'sr', 'fa', 'th', 'ar',
       'no', 'nb', 'fi', 'te', 'la', 'nl', 'hu', 'he', 'is', 'ro', 'gl',
       'uk', 'eu', 'et', 'bs', 'bn', 'xx', 'sh', 'km', 'cs', 'tn', 'ml',
       'mk', 'ga', 'hy', 'ku', 'ka', 'ta', 'kn', 'tl', 'vi', 'ca', 'dz',
       'sw', 'kk', 'wo', 'sk', 'lv', 'mi', 'bo', 'ps', 'mn', 'lt', 'ur',
       'sl', 'sc', 'af', 'hr', 'iu', 'se', 'ms', 'bm', 'mr', 'bg', 'am',
       'cy', 'lo', 'xh', 'yi', 'qu', 'yo', 'sq', 'pa', 'eo', 'gu', 'zu',
       'st', 'ne', 'ak', 'mt', 'rw', 'as', 'ay', 'ln', 'mo', 'si', 'so',
       'ff', 'ky', 'kl', 'ik', 'az', 'ab', 'jv', 'sn', 'li', 'fo', 'ks',
       'tg', 'su', 'my', 'ht', 'lb', 'ha', 'rm', 'sm', 'sa', 'tk', 'fy',
       'be', 'bi', 'om', 'ny', 'gd', 'or', 'uz', 'cr', 'mg', 'ia', 'co',
       'gn', 'tw', 'nn', 'mh'], dtype=object)

In [23]:
# Coverting 'original_language' column to category type

df['original_language'] = df['original_language'].astype('category')
df['original_language'].value_counts()

original_language
en    94478
fr    13136
es    11718
ja     7359
de     7302
      ...
sn        1
su        1
tn        1
tw        1
yo        1
Name: count, Length: 136, dtype: int64

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180747 entries, 0 to 180746
Data columns (total 24 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    180747 non-null  int64
 1   title                 180747 non-null  string
 2   vote_average          180747 non-null  float64
 3   vote_count            180747 non-null  int64
 4   status                180747 non-null  category
 5   release_date          180267 non-null  datetime64[ns]
 6   revenue               180747 non-null  int64
 7   runtime               180747 non-null  int64
 8   adult                 180747 non-null  bool
 9   backdrop_path         180747 non-null  string
 10  budget                180747 non-null  int64
 11  homepage              180747 non-null  string
 12  imdb_id               180747 non-null  object
 13  original_language     180747 non-null  category
 14  original_title        180747 non-null  object
 15  overview              180747 non-null  object
 16  popularity            180747 non-null  float64
 17  poster_path           180747 non-null  object
 18  tagline               180747 non-null  object
 19  genres                180747 non-null  object
 20  production_companies  180747 non-null  object
 21  production_countries  180747 non-null  object
 22  spoken_languages      180747 non-null  object
 23  keywords              180747 non-null  object
dtypes: bool(1), category(2), datetime64[ns](1), float64(2), int64(5), object(10), string(3)
memory usage: 29.7+ MB

In [25]:
df['original_title']

0                                             Inception
1                                          Interstellar
2                                       The Dark Knight
3                                                Avatar
4                                          The Avengers
                              ...
180742                Kathy Griffin: Whores on Crutches
180743    Six Degrees of Separation from Lilia Cuntapay
180744                                    K1 Dynamite!!
180745                                             사형사제
180746                      Чому у півня короткі штанці
Name: original_title, Length: 180747, dtype: object

In [26]:
# Coverting 'original_title' column to string type

df['original_title'] = df['original_title'].astype('string')

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180747 entries, 0 to 180746
Data columns (total 24 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    180747 non-null  int64
 1   title                 180747 non-null  string
 2   vote_average          180747 non-null  float64
 3   vote_count            180747 non-null  int64
 4   status                180747 non-null  category
 5   release_date          180267 non-null  datetime64[ns]
 6   revenue               180747 non-null  int64
 7   runtime               180747 non-null  int64
 8   adult                 180747 non-null  bool
 9   backdrop_path         180747 non-null  string
 10  budget                180747 non-null  int64
 11  homepage              180747 non-null  string
 12  imdb_id               180747 non-null  object
 13  original_language     180747 non-null  category
 14  original_title        180747 non-null  string
 15  overview              180747 non-null  object
 16  popularity            180747 non-null  float64
 17  poster_path           180747 non-null  object
 18  tagline               180747 non-null  object
 19  genres                180747 non-null  object
 20  production_companies  180747 non-null  object
 21  production_countries  180747 non-null  object
 22  spoken_languages      180747 non-null  object
 23  keywords              180747 non-null  object
dtypes: bool(1), category(2), datetime64[ns](1), float64(2), int64(5), object(9), string(4)
memory usage: 29.7+ MB

In [28]:
df['overview']

0         Cobb, a skilled thief who commits corporate es...
1         The adventures of a group of explorers who mak...
2         Batman raises the stakes in his war on crime. ...
3         In the 22nd century, a paraplegic Marine is di...
4         When an unexpected enemy emerges and threatens...
                                ...
180742    The comic performs at the Pechenga Resort & Ca...
180743    A professional horror movie extra prepares for...
180744    Dynamite!! 2009 was a mixed martial arts and k...
180745    Li-Siu, a young Shaolin Monk finds the opportu...
180746    The rooster goes to the holiday fair. He decid...
Name: overview, Length: 180747, dtype: object

In [29]:
# Converting 'overview' column to string type

df['overview'] = df['overview'].astype('string')

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180747 entries, 0 to 180746
Data columns (total 24 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    180747 non-null  int64
 1   title                 180747 non-null  string
 2   vote_average          180747 non-null  float64
 3   vote_count            180747 non-null  int64
 4   status                180747 non-null  category
 5   release_date          180267 non-null  datetime64[ns]
 6   revenue               180747 non-null  int64
 7   runtime               180747 non-null  int64
 8   adult                 180747 non-null  bool
 9   backdrop_path         180747 non-null  string
 10  budget                180747 non-null  int64
 11  homepage              180747 non-null  string
 12  imdb_id               180747 non-null  object
 13  original_language     180747 non-null  category
 14  original_title        180747 non-null  string
 15  overview              180747 non-null  string
 16  popularity            180747 non-null  float64
 17  poster_path           180747 non-null  object
 18  tagline               180747 non-null  object
 19  genres                180747 non-null  object
 20  production_companies  180747 non-null  object
 21  production_countries  180747 non-null  object
 22  spoken_languages      180747 non-null  object
 23  keywords              180747 non-null  object
dtypes: bool(1), category(2), datetime64[ns](1), float64(2), int64(5), object(8), string(5)
memory usage: 29.7+ MB

From [IMDB](https://help.imdb.com/article/imdb/track-movies-tv/ratings-faq/G67Y87TFYYP6TWAV?ref_=helpart_nav_2#):

The following formula is used to calculate the Top Rated 250 titles. This formula provides a true "Bayesian estimate", which takes into account the number of ratings each title has received, minimum ratings required to be on the list, and the mean rating for all titles:

weighted rating (WR) = (v ÷ (v+m)) x R + (m ÷ (v+m)) x C

Where:

R = average for the title (mean) = (rating)

v = number of ratings for the title = (ratings)

m = minimum ratings required to be listed in the Top Rated 250 chart (currently 25,000)

C= the mean rating across the whole report

Please be aware the Top 250 Movie chart list only includes feature films. Shorts, TV movies, mini-series, and documentaries are not included in the Top 250 Movies chart. The Top 250 TV Shows chart includes TV Series, but not TV episodes or movies.

In [31]:
df['popularity']

0          83.952
1         140.241
2         130.643
3          79.932
4          98.082
           ...
180742      1.251
180743      0.600
180744      0.600
180745      1.935
180746      0.901
Name: popularity, Length: 180747, dtype: float64

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180747 entries, 0 to 180746
Data columns (total 24 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    180747 non-null  int64
 1   title                 180747 non-null  string
 2   vote_average          180747 non-null  float64
 3   vote_count            180747 non-null  int64
 4   status                180747 non-null  category
 5   release_date          180267 non-null  datetime64[ns]
 6   revenue               180747 non-null  int64
 7   runtime               180747 non-null  int64
 8   adult                 180747 non-null  bool
 9   backdrop_path         180747 non-null  string
 10  budget                180747 non-null  int64
 11  homepage              180747 non-null  string
 12  imdb_id               180747 non-null  object
 13  original_language     180747 non-null  category
 14  original_title        180747 non-null  string
 15  overview              180747 non-null  string
 16  popularity            180747 non-null  float64
 17  poster_path           180747 non-null  object
 18  tagline               180747 non-null  object
 19  genres                180747 non-null  object
 20  production_companies  180747 non-null  object
 21  production_countries  180747 non-null  object
 22  spoken_languages      180747 non-null  object
 23  keywords              180747 non-null  object
dtypes: bool(1), category(2), datetime64[ns](1), float64(2), int64(5), object(8), string(5)
memory usage: 29.7+ MB

In [33]:
df['poster_path']

0         /oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg
1         /gEU2QniE6E77NI6lCU6MxlNBvIx.jpg
2         /qJ2tW6WMUDux911r6m7haRef0WH.jpg
3         /kyeqWdyUXW608qlYkRqosgbbJyK.jpg
4          /RYMX2wcKCBAr24UyPD7xwmjaTn.jpg
                        ...
180742    /7rdWh28h2MYWYMDSOiq1BDOiFpF.jpg
180743    /3Y2cegVtJupcwk09Aq6b7L8EwAj.jpg
180744                             Unknown
180745    /cIxbKkpa5INho8LJVvngA11hGi9.jpg
180746    /pLM9QUv2iv8gm8EgKEcVkofKNAh.jpg
Name: poster_path, Length: 180747, dtype: object

In [34]:
# Coverting 'poster_path' column to string type

df['poster_path'] = df['poster_path'].astype('string')

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180747 entries, 0 to 180746
Data columns (total 24 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    180747 non-null  int64
 1   title                 180747 non-null  string
 2   vote_average          180747 non-null  float64
 3   vote_count            180747 non-null  int64
 4   status                180747 non-null  category
 5   release_date          180267 non-null  datetime64[ns]
 6   revenue               180747 non-null  int64
 7   runtime               180747 non-null  int64
 8   adult                 180747 non-null  bool
 9   backdrop_path         180747 non-null  string
 10  budget                180747 non-null  int64
 11  homepage              180747 non-null  string
 12  imdb_id               180747 non-null  object
 13  original_language     180747 non-null  category
 14  original_title        180747 non-null  string
 15  overview              180747 non-null  string
 16  popularity            180747 non-null  float64
 17  poster_path           180747 non-null  string
 18  tagline               180747 non-null  object
 19  genres                180747 non-null  object
 20  production_companies  180747 non-null  object
 21  production_countries  180747 non-null  object
 22  spoken_languages      180747 non-null  object
 23  keywords              180747 non-null  object
dtypes: bool(1), category(2), datetime64[ns](1), float64(2), int64(5), object(7), string(6)
memory usage: 29.7+ MB

In [36]:
df['tagline']

0                      Your mind is the scene of the crime.
1         Mankind was born on Earth. It was never meant ...
2                         Welcome to a world without rules.
3                               Enter the world of Pandora.
4                                   Some assembly required.
                                ...
180742                                              Unknown
180743                        Hindi po ito horror, promise.
180744                                              Unknown
180745                                              Unknown
180746                                              Unknown
Name: tagline, Length: 180747, dtype: object

In [37]:
# Coverting 'tagline' column to string type

df['tagline'] = df['tagline'].astype('string')

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180747 entries, 0 to 180746
Data columns (total 24 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    180747 non-null  int64
 1   title                 180747 non-null  string
 2   vote_average          180747 non-null  float64
 3   vote_count            180747 non-null  int64
 4   status                180747 non-null  category
 5   release_date          180267 non-null  datetime64[ns]
 6   revenue               180747 non-null  int64
 7   runtime               180747 non-null  int64
 8   adult                 180747 non-null  bool
 9   backdrop_path         180747 non-null  string
 10  budget                180747 non-null  int64
 11  homepage              180747 non-null  string
 12  imdb_id               180747 non-null  object
 13  original_language     180747 non-null  category
 14  original_title        180747 non-null  string
 15  overview              180747 non-null  string
 16  popularity            180747 non-null  float64
 17  poster_path           180747 non-null  string
 18  tagline               180747 non-null  string
 19  genres                180747 non-null  object
 20  production_companies  180747 non-null  object
 21  production_countries  180747 non-null  object
 22  spoken_languages      180747 non-null  object
 23  keywords              180747 non-null  object
dtypes: bool(1), category(2), datetime64[ns](1), float64(2), int64(5), object(6), string(7)
memory usage: 29.7+ MB

In [39]:
df['genres']

0                  Action, Science Fiction, Adventure
1                   Adventure, Drama, Science Fiction
2                      Drama, Action, Crime, Thriller
3         Action, Adventure, Fantasy, Science Fiction
4                  Science Fiction, Action, Adventure
                             ...
180742                                         Comedy
180743                     Drama, Comedy, Documentary
180744                                 Action, Comedy
180745                                  Action, Drama
180746                                      Animation
Name: genres, Length: 180747, dtype: object

In [40]:
# Converting 'genres' column to category type

df['genres'] = df['genres'].astype('category')
df['genres'].value_counts()

genres
Drama                                                             22171
Comedy                                                            15874
Documentary                                                       15744
Unknown                                                           12015
Horror                                                             4588
                                                                  ...
Comedy, Mystery, Romance, Fantasy                                     1
Action, Adventure, Animation, Family, Comedy, TV Movie                1
Action, Adventure, Animation, Family, Fantasy, Science Fiction        1
Action, Adventure, Animation, Family, Science Fiction                 1
Romance, Science Fiction, Adventure, Comedy                           1
Name: count, Length: 8354, dtype: int64

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180747 entries, 0 to 180746
Data columns (total 24 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    180747 non-null  int64
 1   title                 180747 non-null  string
 2   vote_average          180747 non-null  float64
 3   vote_count            180747 non-null  int64
 4   status                180747 non-null  category
 5   release_date          180267 non-null  datetime64[ns]
 6   revenue               180747 non-null  int64
 7   runtime               180747 non-null  int64
 8   adult                 180747 non-null  bool
 9   backdrop_path         180747 non-null  string
 10  budget                180747 non-null  int64
 11  homepage              180747 non-null  string
 12  imdb_id               180747 non-null  object
 13  original_language     180747 non-null  category
 14  original_title        180747 non-null  string
 15  overview              180747 non-null  string
 16  popularity            180747 non-null  float64
 17  poster_path           180747 non-null  string
 18  tagline               180747 non-null  string
 19  genres                180747 non-null  category
 20  production_companies  180747 non-null  object
 21  production_countries  180747 non-null  object
 22  spoken_languages      180747 non-null  object
 23  keywords              180747 non-null  object
dtypes: bool(1), category(3), datetime64[ns](1), float64(2), int64(5), object(5), string(7)
memory usage: 28.9+ MB

In [42]:
df['production_companies']

0         Legendary Pictures, Syncopy, Warner Bros. Pict...
1         Legendary Pictures, Syncopy, Lynda Obst Produc...
2         DC Comics, Legendary Pictures, Syncopy, Isobel...
3         Dune Entertainment, Lightstorm Entertainment, ...
4                                            Marvel Studios
                                ...
180742                                              Unknown
180743                    Cinema One Originals, Post Manila
180744                                              Unknown
180745                                              Unknown
180746                                         Kyivnaukfilm
Name: production_companies, Length: 180747, dtype: object

In [43]:
# Converting 'production_companies' column to category type

df['production_companies'] = df['production_companies'].astype('category')

In [44]:
df['production_companies'].value_counts()

production_companies
Unknown                       44564
Metro-Goldwyn-Mayer            1165
Warner Bros. Pictures           830
Paramount                       750
Columbia Pictures               712
                              ...
Arun Narayan Productions          1
相信音乐                              1
福建平潭突燃影业有限公司                      1
福建恒业影业有限公司                        1
福建恒业电影发行有限公司, 北京春秋时代文化有限公司        1
Name: count, Length: 82432, dtype: int64

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180747 entries, 0 to 180746
Data columns (total 24 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    180747 non-null  int64
 1   title                 180747 non-null  string
 2   vote_average          180747 non-null  float64
 3   vote_count            180747 non-null  int64
 4   status                180747 non-null  category
 5   release_date          180267 non-null  datetime64[ns]
 6   revenue               180747 non-null  int64
 7   runtime               180747 non-null  int64
 8   adult                 180747 non-null  bool
 9   backdrop_path         180747 non-null  string
 10  budget                180747 non-null  int64
 11  homepage              180747 non-null  string
 12  imdb_id               180747 non-null  object
 13  original_language     180747 non-null  category
 14  original_title        180747 non-null  string
 15  overview              180747 non-null  string
 16  popularity            180747 non-null  float64
 17  poster_path           180747 non-null  string
 18  tagline               180747 non-null  string
 19  genres                180747 non-null  category
 20  production_companies  180747 non-null  category
 21  production_countries  180747 non-null  object
 22  spoken_languages      180747 non-null  object
 23  keywords              180747 non-null  object
dtypes: bool(1), category(4), datetime64[ns](1), float64(2), int64(5), object(4), string(7)
memory usage: 30.9+ MB

In [46]:
df['production_countries']

0         United Kingdom, United States of America
1         United Kingdom, United States of America
2         United Kingdom, United States of America
3         United States of America, United Kingdom
4                         United States of America
                            ...
180742                    United States of America
180743                                 Philippines
180744                                     Unknown
180745                                 South Korea
180746                                Soviet Union
Name: production_countries, Length: 180747, dtype: object

In [47]:
# Converting 'production_countries' column to string type

df['production_countries'] = df['production_countries'].astype('string')
df['production_countries'].value_counts()

production_countries
United States of America                                        51172
Unknown                                                         22530
France                                                           8887
United Kingdom                                                   8379
Japan                                                            7120
                                                                ...
Canada, Dominican Republic, France, United States of America        1
Egypt, Syrian Arab Republic                                         1
Rwanda                                                              1
Lebanon, Qatar, United States of America                            1
North Korea, France                                                 1
Name: count, Length: 5863, dtype: Int64

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180747 entries, 0 to 180746
Data columns (total 24 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    180747 non-null  int64
 1   title                 180747 non-null  string
 2   vote_average          180747 non-null  float64
 3   vote_count            180747 non-null  int64
 4   status                180747 non-null  category
 5   release_date          180267 non-null  datetime64[ns]
 6   revenue               180747 non-null  int64
 7   runtime               180747 non-null  int64
 8   adult                 180747 non-null  bool
 9   backdrop_path         180747 non-null  string
 10  budget                180747 non-null  int64
 11  homepage              180747 non-null  string
 12  imdb_id               180747 non-null  object
 13  original_language     180747 non-null  category
 14  original_title        180747 non-null  string
 15  overview              180747 non-null  string
 16  popularity            180747 non-null  float64
 17  poster_path           180747 non-null  string
 18  tagline               180747 non-null  string
 19  genres                180747 non-null  category
 20  production_companies  180747 non-null  category
 21  production_countries  180747 non-null  string
 22  spoken_languages      180747 non-null  object
 23  keywords              180747 non-null  object
dtypes: bool(1), category(4), datetime64[ns](1), float64(2), int64(5), object(3), string(8)
memory usage: 30.9+ MB

In [49]:
df['spoken_languages']

0         English, French, Japanese, Swahili
1                                    English
2                          English, Mandarin
3                           English, Spanish
4                    English, Hindi, Russian
                         ...
180742                               Unknown
180743                               Tagalog
180744                              Japanese
180745                                Korean
180746                             Ukrainian
Name: spoken_languages, Length: 180747, dtype: object

In [50]:
# Converting 'spoken_languages' column to category type

df['spoken_languages'] = df['spoken_languages'].astype('category')
df['spoken_languages'].value_counts()

spoken_languages
English                        67923
Unknown                        15853
Spanish                         9683
French                          9363
Japanese                        6794
                               ...
Yoruba                             1
Yoruba, English                    1
Yoruba, Portuguese                 1
Yoruba, Romanian                   1
Turkish, Hungarian, English        1
Name: count, Length: 4480, dtype: int64

In [51]:
df['keywords']

0         rescue, mission, dream, airplane, paris, franc...
1         rescue, future, spacecraft, race against time,...
2         joker, sadism, chaos, secret identity, crime f...
3         future, society, culture clash, space travel, ...
4         new york city, superhero, shield, based on com...
                                ...
180742                                      stand-up comedy
180743                                              Unknown
180744                                              Unknown
180745                                         martial arts
180746                                           short film
Name: keywords, Length: 180747, dtype: object

In [52]:
# Converting 'keywords' column to string type

df['keywords'] = df['keywords'].astype('string')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180747 entries, 0 to 180746
Data columns (total 24 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    180747 non-null  int64
 1   title                 180747 non-null  string
 2   vote_average          180747 non-null  float64
 3   vote_count            180747 non-null  int64
 4   status                180747 non-null  category
 5   release_date          180267 non-null  datetime64[ns]
 6   revenue               180747 non-null  int64
 7   runtime               180747 non-null  int64
 8   adult                 180747 non-null  bool
 9   backdrop_path         180747 non-null  string
 10  budget                180747 non-null  int64
 11  homepage              180747 non-null  string
 12  imdb_id               180747 non-null  object
 13  original_language     180747 non-null  category
 14  original_title        180747 non-null  string
 15  overview              180747 non-null  string
 16  popularity            180747 non-null  float64
 17  poster_path           180747 non-null  string
 18  tagline               180747 non-null  string
 19  genres                180747 non-null  category
 20  production_companies  180747 non-null  category
 21  production_countries  180747 non-null  string
 22  spoken_languages      180747 non-null  category
 23  keywords              180747 non-null  string
dtypes: bool(1), category(5), datetime64[ns](1), float64(2), int64(5), object(1), string(9)
memory usage: 30.0+ MB

In [53]:
# Processing missing values

df.isna().sum()

id                        0
title                     0
vote_average              0
vote_count                0
status                    0
release_date            480
revenue                   0
runtime                   0
adult                     0
backdrop_path             0
budget                    0
homepage                  0
imdb_id                   0
original_language         0
original_title            0
overview                  0
popularity                0
poster_path               0
tagline                   0
genres                    0
production_companies      0
production_countries      0
spoken_languages          0
keywords                  0
dtype: int64

In [54]:
# Removing entries without title

df.dropna(subset=['title'], inplace=True)
df.isna().sum()

id                        0
title                     0
vote_average              0
vote_count                0
status                    0
release_date            480
revenue                   0
runtime                   0
adult                     0
backdrop_path             0
budget                    0
homepage                  0
imdb_id                   0
original_language         0
original_title            0
overview                  0
popularity                0
poster_path               0
tagline                   0
genres                    0
production_companies      0
production_countries      0
spoken_languages          0
keywords                  0
dtype: int64

In [55]:
columns_with_na = ['release_date', 'backdrop_path', 'homepage', 'imdb_id', 'overview', 'poster_path', 'tagline', 'genres',
                   'production_companies', 'production_countries', 'spoken_languages', 'keywords']

# Add 'Unknown' as category
for col in columns_with_na:
  if df[col].dtype.name == 'category':
    if 'Unknown' not in df[col].cat.categories:
      df[col] = df[col].cat.add_categories('Unknown')

# Filling NA values
df[columns_with_na] = df[columns_with_na].fillna('Unknown')

df.isna().sum()

id                      0
title                   0
vote_average            0
vote_count              0
status                  0
release_date            0
revenue                 0
runtime                 0
adult                   0
backdrop_path           0
budget                  0
homepage                0
imdb_id                 0
original_language       0
original_title          0
overview                0
popularity              0
poster_path             0
tagline                 0
genres                  0
production_companies    0
production_countries    0
spoken_languages        0
keywords                0
dtype: int64

In [56]:
# Saving processed csv file

df.to_csv("data/movies.csv", index=False)